# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.json

# Terraform overrides
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# Terraform CLI
**/.terraformrc
**/terraform.rc

# Local files
**/*.tf.out
**/*.env.sh
**/crash.log
**/crash.*.log
